[2019-09-12 17:21] casual-coder-25 opened #2 "Target of URI doesn't exist: 'package:flutter_audio_query/flutter_audio_query.dart'. Try creating the file referenced by the URI, or Try using a URI for a file that does exist."
New project. Tried your plugin but plugin not importing. tried everything in stackoverflow.
"Target of URI doesn't exist: 'package:flutter_audio_query/flutter_audio_query.dart'.
Try creating the file referenced by the URI, or Try using a URI for a file that does exist."

[2019-09-12 18:26] sc4v3ng3r commented on #2
Did you using the latest version in your pubspec file?
` flutter_audio_query: ^0.2.1 `

[2019-09-17 09:16] sc4v3ng3r commented on #2
I will close it because there is no more feedback and the plugin was tested and it's working fine.

[2019-09-17 09:16] #2 closed, assigned to nobody

[2019-09-17 16:12] casual-coder-25 commented on #2
yes latest one. I will try reinstalling. thank you

[2019-09-29 11:36] mdarifmustafa opened #3 "failed to cast String to bool for isMusic function in SongInfo class"
I am using this version flutter_audio_query: ^0.2.1

and failed to check the SongInfo object object.isMusic due to below said error

hope it will help to make this function mature.

[2019-10-05 09:47] dvorapa opened #4 "SongInfo shows wrong album cover"
Weird enough, for all audio files I get the same album cover

[2019-10-08 01:17] sc4v3ng3r commented on #3
Thanks for your feedback. It will be fixed on next path.

[2019-10-08 01:18] sc4v3ng3r commented on #4
What Android version you was running? Android Q ?

[2019-10-08 01:54] #3 closed, assigned to nobody

[2019-10-08 01:55] sc4v3ng3r commented on #3
fixed [here](https://github.com/sc4v3ng3r/flutter_audio_query/commit/04668fcef1f6215f6101bbb51e459845f98e36f5)

[2019-10-08 07:05] dvorapa commented on #4
Android 6 (the third most used Android in the world per https://gs.statcounter.com/os-version-market-share/android/mobile-tablet/worldwide)

[2019-10-08 10:46] sc4v3ng3r commented on #4
Really weird. I've the example app running well on my device with Android 6. If possible share your app code or snippet and maybe I can do some tests trying reproduce that behavior and look more closer that situation.

[2019-10-09 08:57] dvorapa commented on #4
You can see it in action here: https://github.com/dvorapa/stepslow/blob/master/lib/main.dart#L1086.

For every ListTile it draws an album artwork from the SongInfo class, but for all songs within one folder, the album artwork is the same, although other parts of the SongInfo are different. Somehow I get 4 different songs (different artist, different title, different year, different duration), but

[2019-10-18 16:46] dvorapa commented on #4
Here are few examples of what I get. The ringtones here all belong to a different albums, but all are in the same folder called "Music". This is just `songInfo.toString()` for each of them in my `fetch()` function:

[code]

[2019-10-20 20:14] sc4v3ng3r commented on #4
Hey bro... I did a test here and I was able to reproduce the same behavior.

It looks like to me a default platform behavior and let me explain you why. Well what I did was create a new directory and moved some song files from an old directory to that new one and I could see that for some reason the **album**  and **album_id** properties in all moved audio files was changed and becomes respectivel

[2019-10-20 23:00] dvorapa commented on #4
You are right, so this is an Android (<7 ?) issue. I don't mind the **album_id** or **album** itself, but **album_artwork** copied to songs it has nothing to do with is not really convenient. Damn!

[2019-10-21 00:26] sc4v3ng3r commented on #4
Well I am not sure if it's an Android <7  issue, I can test it on physical device with Android Pie this week and keep you posted. About **album_artwork** yeahh weird behavior! and the most funny is if you copy a song to another directory the **album_artwork** property will not change but **album** and **album_id** will change.

I would suggest you to provide a way to the users change the metadata

[2019-10-21 13:33] dvorapa commented on #4
Well, my app is aiming to be as simple as possible. User can just pick folder/songs and play, the app just allows user to slow down/speed up playback easily, because this is the main aim of my app.

I will ignore this issue as it is Android default behavior (bug or feature, who knows). The only other issue I'm stuck with is that I can not make Flutter list music folders/songs from SD card (or even

[2019-11-06 21:21] dvorapa commented on #4
After the last flutter stable update, the album cover is not showing anymore for any song I've tried. It goes with an error message, I'll better share it in new issue #6.

[2019-11-06 22:05] dvorapa commented on #4
[code]

[2019-11-12 14:49] dvorapa opened #5 "SongInfo is not comparable"
Try:
[code]
Error thrown in my code:
[code]
Recommended patch:
[code]
or maybe:
[code]
instead of:
[code]

[2019-11-12 15:00] dvorapa commented on #5
A possible workaround until a solution would be:
[code]

[2019-11-12 22:45] dvorapa opened #6 "Probably cache issues after update"
After the last flutter stable update, the album cover is not showing anymore for any song I've tried. It goes with the following error message:
[code]

[2019-11-13 10:56] sc4v3ng3r commented on #6
Hello buddy, recently I am very busy with job coding but I'll provide fixes soon as possible for all the problems. Thanks for your feedback means a lot.

[2019-11-13 16:44] dvorapa commented on #6
No problem, I'm just working with your library on a daily basis currently, so I report what I see...

[2019-11-13 16:45] dvorapa commented on #6
Similarly sometimes I don't get any list of songs at all, therefore I think this could be a cache issue.

[2019-11-15 10:10] dvorapa commented on #4
Anyway this one can be marked as invalid (unfixable)

[2019-11-19 06:49] dvorapa commented on #4
Okay, this is even weirder: for some music I get different album images in my app in comparison to other apps

I guess finally this is a cache issue not caused by Android itself, even if it can be buggy too. In other music apps I see this:

Other apps
- Song 1 Image 1
- Song 2 Image 2
- Song 3 No image
- Song 4 No image
- Song 5 Image 3

My app
- Song 1 No image
- Song 2 Image couldn't be loaded
-

[2019-11-19 06:57] dvorapa commented on #4
I think this is somehow related to (id3 ?) tags, because if a song has been saved with tags from MusicBrainz' Picard, I get "No file found at the specified location" even if other apps can show the image. If the song has not been saved with tags from MusicBrainz Picard (the tags of the file are original or none), I get the same image for all of these songs (even if there is no issue in other apps

[2019-11-21 16:30] codearemo opened #7 "New to this"
Hello, please I'm in here fairly new to most of the concepts used in this project. All I want to build is a music player. But the example here only fetches all the files but doesn't have a play feature.
I'd appreciate if there were resources you could recommend so I can fetch all the audio files on the device. Just like in your example project.
Thanks

[2019-11-21 20:28] sc4v3ng3r commented on #7
Yes. Flutter audio query plugin only queries the data about audio media
including mp3 files path. I can use some type of AudioPlayer plugin to play
audio files.

There a lot of audio players packages on dart pub with them you can play
the songs that you queried with audio query plugin.

Em qui, 21 de nov de 2019 13:30, Omosipe Busola <notifications@github.com>
escreveu:

[2019-11-22 16:32] codearemo commented on #7
Yes...Thank you. I now understand it better.

[2019-11-22 16:32] #7 closed, assigned to nobody

[2019-12-04 03:18] rohansohonee opened #8 "Cannot fetch genres"
When trying to fetch genres i get a sqlite error
Column genre_name does not exist. Please do fix this issue.
Also any possibility of iOS support in the future.

[2019-12-06 18:02] rohansohonee opened #9 "Memory Issue with plugin"
Running the example provided with this plugin I have monitored high memory usage.

Steps to produce issue:
1. Run the example and run dart dev tools
2. The songs load
3. Now press back button (android phone back button) (note: the app is still debugging)
4. Open app again (note: the app is still debugging)
5. Memory keep's climbing up when viewed in dart dev tools
6. Repeat step 3 and 4 to see maj

[2019-12-08 14:07] sc4v3ng3r commented on #9
Hello Thanks for you feedback.

The flutter_audio_query plugin only queries the data using native API and provide it to you. What you're doing is analysing the performance of the **SAMPLE APP** and not the plugin source itself. I believe in your words and should exist memory issues with the sample app because there is no proper memory handle in **APP SIDE**. Remember the sample app goal is just sh

[2019-12-08 14:25] rohansohonee commented on #9
Yes I understand that I have done profiling on the sample app.
The memory issue is still with the plugin i.e the native API is consuming memory on every relaunch of the app.
The sample app is not the cause of high memory.

Please do look into the plugin (native API) code and fix the following issue.

[2020-01-20 15:27] FadiChaalab opened #10 "Infinity loading progress"
I used your example and i faced a problem with loading album and artist it keep loading infinity but when i press another tab Bar everything loads, how to fix it?

[2020-01-21 11:58] sc4v3ng3r commented on #10
Try to grant read permission before do any kind of load. But it can be an internal problem and I've a guess about what it can be. I'll try check it out this week yet, in the last months I am getting no time to check this plugin and there is some improvements to be done here.

Thanks by your feedback.

[2020-01-23 15:30] FadiChaalab commented on #10
Thanks for your help, and plz don't forget to update me on your progress good luck

[2020-01-28 17:03] goccd opened #11 "INTERNAL_CONTENT_URI was not supported."
I hope to add the ability to get internal storage media storage audio URIs.

[2020-02-06 04:48] suranju opened #13 "AlbumArt not fetched in android 10 devices"
the albumart property of the audio query returns null in android 10 devices, while it works fine in android 9.

[2020-02-21 15:51] mvarendorff opened #14 "Embedding V2"
Since Flutter version 1.12 there is a [new mechanism](https://flutter.dev/docs/development/packages-and-plugins/plugin-api-migration) for invoking plugins for Flutter Android applications. Are there plans to make this plugin compatible with v2 embedding? Missing support could be the reason for [issues in my current project](https://stackoverflow.com/q/60203223/6707985) which is mainly the reason I

[2020-02-21 21:09] sc4v3ng3r commented on #14
Hey buddy, thanks a lot for your feed back!

I'll provide this new Flutter plugin interface in this plugin I think I can do a quick fix today yet.

[2020-02-22 16:28] sc4v3ng3r commented on #14
Hello @geisterfurz007 Could you please check the plugin version ```flutter_audio_query: ^0.3.4+1```.

[2020-02-22 17:48] mvarendorff commented on #14
Yup, just did! Unfortunately the change does not fix my problem but as that wasn't point of this issue, I am closing this! Thanks for the update!

[2020-02-22 17:48] #14 closed, assigned to nobody

[2020-02-27 07:29] o4x opened #15 "Recently added songs"
It would be great if the method of adding recent songs was added.

[2020-03-01 12:19] ghost opened #16 "getSongsById"
crash application if memberIds contain only one song title.

[2020-03-03 17:21] athul-ain opened #17 "Issue Showing Some AlbumArt"
Some of the Albums are not showing the Album Art, which Shows Album Art on Google Play Music or other basic music players. Please check this issue.
Anyway Good Work its a very useful package

[2020-03-04 14:30] Ahmedhassan50 opened #18 "Can't fetch songs"
READ EXTERNAL PERMISSION DENIED

[2020-03-06 16:03] athul-ain commented on #13
Hope the Developer will Fix this soon

[2020-03-07 12:07] sc4v3ng3r commented on #13
@suranju I am working in a Plugin refactor and I am aware about this issue.
Appears to be not possible access album artwork in the new Android API 29+. I need figure out how to handle it and will be done soon.

As a quick fix you can try add the following line in Manifest file:
   `
<application
            android:requestLegacyExternalStorage="true"
`

[2020-03-07 12:09] sc4v3ng3r commented on #16
membersIds property must not be the song titles. It must be the song ID(s) value(s).

[2020-03-07 13:40] o4x opened #19 "crash audio_service when add flutter_audio_query to pubspec.yaml"
### Everything works fine

but when  I add `flutter_audio_query: "^ 0.3.4 + 1"`  to `pubspec.yaml`

and then click to stop button i get this error :

[code]

Also https://github.com/ryanheise/audio_service/issues/203

This is basic code

[code]

[2020-03-07 13:49] sc4v3ng3r commented on #19
Hello @o4x try use `flutter_audio_query: ^0.3.4+2` version. Take a look [here](https://pub.dev/packages/flutter_audio_query#-changelog-tab-)

[2020-03-07 14:09] o4x commented on #19
Hi @sc4v3ng3r , thanks for your speed . The new version also has this problem

[2020-03-08 21:57] ali-alizadeh commented on #19
Hi @o4x , I was facing this issue too, for the moment the only way I found was using version 0.3.3 instead of the newest version. Just make sure not to use ^ before the version so pub uses exactly the version I mentioned and not a newer one.

[2020-03-09 04:31] o4x commented on #19
@Ali-Alizadeh, When I use version `0.3.3` I get this problem

[code]

[2020-03-10 12:59] ghost commented on #16
[code]

![Capture](https://user-images.githubusercontent.com/60932394/76314516-c6815e80-62f8-11ea-9815-60fc12399cf7.PNG)

[2020-03-10 13:00] ghost commented on #16
if there are more than one memberId than it work fine. But there is only one memberId app crashes.

[2020-03-14 19:03] tusharkrbarman opened #20 "Await doesn't work if async is not defined"
List<ArtistInfo> artists = await audioQuery.getArtists();
This line fails. So any workaround on how to solve it?

[2020-03-14 20:47] sc4v3ng3r commented on #20
@tusharhigh please, use the version 0.3.3 in your app. I am trying to implement the new V2 embedding API in this plugin but it's a mess for now.

[2020-03-19 02:07] athul-ain opened #21 "Album Art returns null on Android 10"

[2020-03-19 04:14] athul-ain commented on #13
You can refer https://joebirch.co/2019/10/09/media-store-access-using-openfile-on-android-10/ if required

[2020-03-19 04:15] athul-ain commented on #13
<application android:requestLegacyExternalStorage="true"
This doesn't seems to be working for me

[2020-03-19 14:37] o4x opened #22 "Crash program when I call getGeners"
I get  this error

[code]

[2020-03-20 14:14] olayemii commented on #22
Experienced this too, any fix on this yet?

[2020-03-20 15:09] olayemii commented on #22
I have made a little fix for this, apparently, the app crashes because there's no matching song for any genre..
This is my pull request https://github.com/sc4v3ng3r/flutter_audio_query/pull/23 , hope he merges asap

[2020-03-30 22:26] mvarendorff commented on #16
Yup, I am facing the same issue.

[code]

is all it takes to crash it.
[code]
is probably the best attempt at an error message I got.

[2020-04-01 05:37] o4x commented on #22
Hi @OLayemii , I have tested your fork, the crash is fix but no return any genres.

[2020-04-01 06:43] mvarendorff commented on #16
@ahmedaslam11 what appears to be a usable workaround is to add an empty string in case the list of ids has length 1. It's not ideal but works until this might be resolved in the future.

[2020-04-01 11:49] olayemii commented on #22
@o4x yes, that was why i closed my PR, however I have been able to make it work now, I'll push the new codes to my fork now.

[2020-04-01 12:01] olayemii commented on #22
You can try to clone and test again, tell me if it works for you

[2020-04-01 12:43] o4x commented on #22
thank's very much @OLayemii . I've tested it right now, everything is working fine.
I'm so happy about that .

If you add memberIds property to GenreInfo it would be really great because the method getSongsFromGenre is slow.

[2020-04-01 12:47] olayemii commented on #22
@o4x I'm still fixing Alot on the fork, I'll try to optimize all I can as I go along..

[2020-04-01 13:00] o4x commented on #22
@OLayemii Bravo .
However, this library has been very helpful to me, but it has many bugs.

do you want merge your fork?

[2020-04-01 13:23] olayemii commented on #22
The repo creator isn't accepting PRs, sad enough

[2020-04-01 14:19] o4x commented on #22
getSongsFromGenre() return all songs 😂

[2020-04-02 00:19] olayemii commented on #22
@o4x
😂 Bro, I am yet to fix that method, It was crashing like `getGenres()` too..I'll make these updates in a bit.

[2020-04-15 04:59] o4x commented on #22
@OLayemii  Bro, Did you find a solution for for getSongsFromGenre() or genreName property?  I really need it and I don't understand anything about Java.

[2020-04-16 06:57] shayan4shayan commented on #21
album_art has been deprecated starting from api 29 and have to call `contentResolver. loadThumbnail and get the bitmap.
the problem is, there is no way to send bitmap on method channel and get it in dart code.

solution is, saving every album art in cache and send file path of images from cache to dart code.

I've managed to do so but it requires an initialization process that takes long.

https:/

[2020-04-16 16:23] serdarpolat opened #26 "Song Issue"
Hi there..
When I tapping on song is say:
`opservice is null false`

[2020-04-19 10:32] olayemii commented on #22
Bro, I'm yet to do it, I'll get back to you this week though

[2020-04-24 10:02] athul-ain commented on #21
I have Tried your Tree But got this error. Can you help in implementing this?

[2020-04-24 19:09] shayan4shayan commented on #21
Sorry,
I've missed one of my commits and it didn't pushed to git.

https://github.com/shayan4shayan/flutter_audio_query/commit/c83f8ee79249d8e1f6da8a1cb69e9a7ffca42b7b

[2020-04-25 06:32] athul-ain commented on #21
Thanks

[2020-04-26 15:23] norsparyt commented on #21
hey, i tried using it (after your last commit) ,and i'm getting a  "no such path or directory" when trying to display the images using  `Image.file(File(path))` ( i'm able to get the paths

Could you share the code to display the images ?

[2020-04-30 04:16] athul-ain opened #27 "Please include Recently Added Sort Type"
The Sort Type of Recently Added Albums, Songs, Artists are very helpful please add this sort type.

[2020-04-30 04:23] athul-ain commented on #21
Try this as your Path
"**getTemporaryDirectory/albums/albumId.jpg**"
Note: getTemporaryDirectory from [PathProvider](https://pub.dev/packages/path_provider), Use the appropriate albumId

[2020-05-02 09:58] shayan4shayan commented on #21
well that's the bug
in first launch you have to get all the albums and wait till all images saves into the disk.

in the last change of android you cannot access album images using file path and you have to use URI that is not possible in flutter. so I had to save all the album images in cache folder and use path of images in there. but saving all the images in cache folder in first launch takes t

[2020-05-03 08:41] o4x commented on #27
Hi @athul-ain, for now you can sort songs with IDs Like this :
[code]

[2020-05-03 08:49] o4x commented on #22
@OLayemii , You haven't found a solution yet? Everyone are disabled🙄

[2020-05-03 10:09] athul-ain commented on #27
Thanks

[2020-05-03 18:52] norsparyt commented on #21
Tried PathProvider , same error. Have you been able to show the images in a device?

[2020-05-04 16:07] athul-ain commented on #21
Yes, but the images was not shown for songs on Non-Android10 devices.
It works well for Albums and Artists.

[2020-05-10 17:32] olayemii commented on #22
Haha, no bro, I havent been able to recheck..any solution yet?

[2020-05-10 19:33] o4x commented on #22
I wrote a very simple plugin to just get genres but I haven't merged it with this yet. I put it in my repository although it is useless.

[2020-05-12 16:33] olayemii commented on #22
Ok, let me check your implementation @o4x

[2020-05-12 16:35] olayemii commented on #22
Seen, that works @o4x ? Why do you say it's useless?

[2020-05-12 20:12] o4x commented on #22
Yeah that's work fine. I say it useless because it just get genres.

[2020-05-14 00:03] dvorapa commented on #6
Seems no longer relevant (haven't seen the issue for a while)

[2020-05-14 00:05] dvorapa commented on #4
I use flutter_ffmpeg currently to extract thumbnails. Pretty neat solution I must say

[2020-05-15 08:49] olayemii commented on #22
Okay, the main point of concern is getting songs for genres right?

[2020-05-15 22:23] dfourcfive opened #28 "issues using the package"
so when i tried to add the package in the pub.yaml i got this type of error

The plugin `flutter_plugin_android_lifecycle` doesn't have a main class defined in C:\Users\Ibrahim\Downloads\Compressed\flutter_windows_v1.9.1+hotfix.2-stable\flutter\.pub-cache\hosted\pub.dartlang.org\flutter_plugin_android_lifecycle-1.0.7\android\src\main\java\io\flutter\plugins\flutter_plugin_android_lifecycle\Flutter

[2020-05-29 03:24] pedrolemoz commented on #22
Same error here, in Android 10. I get the following:

[code]

@sc4v3ng3r Please merge pull requests to this package!

[2020-05-29 03:26] pedrolemoz commented on #21
I had the same issue here, but @shayan4shayan fork's is working, but a bit slowly.
Anyway, at least, it work. @sc4v3ng3r Please merge PR to this package!

[2020-05-29 03:29] pedrolemoz opened #29 "Error while using getSongsByArtist() method in Android 10"
Hello. I'm in Android 10 with ARM64 architecture. When I use the `getSongsByArtist()` method, I get the following:

[code]

I wonder if any solution is avaliable.

[2020-05-30 12:30] shayan4shayan commented on #21
seems there is some problems in android 9 or bellow
I must fix them first,

[2020-05-30 20:55] pedrolemoz commented on #21
@shayan4shayan Have you tried to convert the image to base64 (it will be a string), and then, pass it over method channel to Dart? I think it's a clever solution, better than caching files. Obviously, it will require some workaround in the package (returning the image instead a path), but may be a solution. What do you think?

[2020-06-01 06:21] shayan4shayan commented on #21
Base64 is a good solution but it won't decrease the size of image and in the query of albums all of the data stored as album images must be sent over method channel and also it requires reading all of images in every query and it will take so long.

[2020-06-17 22:12] c4spar commented on #8
+1

[2020-07-09 07:13] shayan4shayan commented on #21
@pedrolemoz  @athul-ain
song images for non-android 10 devices has been fixed.

[2020-07-13 10:46] mahadydev opened #30 "Android 10 null album art issue"
Hi ,

Any active development happening in this package? I could use some help here. My audio player works file on <android9 but not in 10. I am not getting album art path , its returning null. Any solve or work around?

Thanks

[2020-07-14 03:39] mahadydev commented on #21
any hope for android 10? still getting null path for the image art

[2020-07-14 22:46] Twapa opened #31 "playing the songs"
what method can i use to play music?.... i really like this api

[2020-07-15 09:58] shayan4shayan commented on #30
#21
issue is duplicated.

[2020-07-15 14:38] shayan4shayan commented on #21
I released a quick fix, get albums first. then song album path will be set.
I'm still thinking about a better way to fix this issue. but it won't be perfect unless flutter gives ability to load image with URI.

[2020-07-16 13:02] stahlmagnat opened #32 "exception when working with Playlists on Android 10"
We like this package, are you still working on it?

Anyone knows a workaround for getting playlist works on Android 10?

Please see:
https://issuetracker.google.com/issues/147619577

"has no access to content"

E/MethodChannel#boaventura.com.devel.br.flutteraudioquery(10506): 	at android.os.MessageQueue.nativePollOnce(Native Method)
E/MethodChannel#boaventura.com.devel.br.flutteraudioquery(10506):

[2020-07-16 13:11] stahlmagnat commented on #32
is it possible to exclude media located on externalStorage when Android=10 ?

[2020-07-21 15:09] Tushargupta9800 opened #33 "Hey man, I've got a problem your plugin shows only 2 songs."
In my phone i have about 60 songs but your plugin shows me only 2 songs. please help me where i'm wrong.

[2020-07-24 13:06] hvkalayil opened #34 "getSongs not retrieving new Songs"
### First, Thanks for the Plug In🥰
This plug-in was really useful for me. But now I have an issue with it.

### Issue💔
I set up a download process in my application to download music files using the code below:

          file = File(path + '/$query.$fileFormat');
          var fileStream = file.openWrite();
          await stream.pipe(fileStream);

          //Flushing Stream
          await file

[2020-07-29 12:05] mahadydev commented on #21
hi , did you pushed the quick fix on pub.dev ?

[2020-07-29 15:55] shayan4shayan commented on #21
the main developer seems stopped developing this package and your answer is no.

I'll create a new package as soon as I find a proper fix for this problem.

[2020-08-02 13:45] sc4v3ng3r commented on #34
This will be an enhancement.

Capability of refresh MediaStore.

[2020-08-02 13:51] sc4v3ng3r commented on #31
This package only provide data query methods. If you want audio playback features I advise you to use [audioplayer](https://pub.dev/packages/audioplayer) package.

[2020-08-02 13:52] #31 closed, assigned to nobody

[2020-08-02 13:52] #20 closed, assigned to nobody

[2020-08-02 13:58] sc4v3ng3r commented on #15
It will be handled along with #27

[2020-08-02 13:58] #15 closed, assigned to nobody

[2020-08-02 13:59] sc4v3ng3r commented on #33
I need more info about to replicate your issue and fix it.

[2020-08-02 14:00] sc4v3ng3r commented on #30
I am closing this issue due #21.The support for this plugin will start this week.

[2020-08-02 14:00] #30 closed, assigned to nobody

[2020-08-02 14:05] sc4v3ng3r commented on #18
The user must grant READ_EXTERNAL_STORAGE to this plugin work.

[2020-08-02 14:08] #18 closed, assigned to nobody

[2020-08-02 14:12] sc4v3ng3r commented on #13
I am closing because it's related to #21

[2020-08-02 14:12] #13 closed, assigned to nobody

[2020-08-02 15:04] de7miii commented on #19
Hi @sc4v3ng3r, I encountered the same problem when using `audio_service`  with `flutter_audio_query 0.3.4+2` and was able to fix it by adding a few lines to the source code.

The problem appears to be that `tearDown()` function is calling functions on null objects of `m_activityBinding`, `channel`, and `application`.

[code]

### The Fix
[code]

After changing the source code of the plugin in the

[2020-08-03 12:54] Twapa commented on #31
alright thanks for your response

On Sunday, August 2, 2020, Marcos Boaventura <notifications@github.com>
wrote:

--
null

[2020-08-05 00:56] sc4v3ng3r commented on #21
For now solved with #36
I am closing it.

[2020-08-05 00:57] #21 closed, assigned to nobody

[2020-08-09 02:18] #8 closed, assigned to nobody

[2020-08-09 02:21] sc4v3ng3r commented on #22
solved #37

[2020-08-09 02:21] #22 closed, assigned to sc4v3ng3r

[2020-08-09 02:22] sc4v3ng3r commented on #16
fixed and closed #37

[2020-08-09 02:22] #16 closed, assigned to sc4v3ng3r

[2020-08-09 02:23] sc4v3ng3r commented on #29
fixed #37

[2020-08-09 02:23] #29 closed, assigned to sc4v3ng3r

[2020-08-14 06:10] katungi commented on #33
@sc4v3ng3r I am having the same problem, when i sort using different parameters,it brings different songs. Is there a way to use SongSortType to get all the songs on my device and display them??
When i use SongSortType.Default it finds only one song.

[2020-08-14 14:05] sc4v3ng3r commented on #33
I'll check this bug. Thanks

[2020-08-16 22:56] sc4v3ng3r commented on #33
@katungi I was not able to replicate the problem described I'll need more debug information. I am getting the same song numbers using all SortSongType values.

What Android version are you facing that bad behavior?
Are you sure the content you expect to receive isn't protected by the creator app?

I'll mark this issue as onHold for now.

[2020-08-17 04:49] katungi commented on #33
@sc4v3ng3r I guess something is wrong with my implementation then. This is how i did it.
[code]

Maybe you can help me debug the error. When i use default, it brings some songs then this error.
![yamp](https://user-images.githubusercontent.com/26451435/90358246-232e3580-e05e-11ea-87e8-d75b388cfdfe.jpg)

[2020-09-08 16:21] shanthosh2910 opened #41 "No implementation found for method getArtwork on channel boaventura.com.devel.br.flutteraudioquery"
Hi,

I'm getting `No implementation found for method getArtwork on channel boaventura.com.devel.br.flutteraudioquery` exception while trying to get the image for songs.

This happens in `getArtwork()`.

[code]

![image](https://user-images.githubusercontent.com/22300553/92501728-90c42080-f21c-11ea-81d5-6effed75402f.png)

![image](https://user-images.githubusercontent.com/22300553/92501837-ae918580

[2020-09-14 17:04] lukhof commented on #41
What is your Android Version?
getArtwork() is currently only available for Android Version >= Q
![Screenshot 2020-09-14 at 19 04 08](https://user-images.githubusercontent.com/52919807/93116077-159bb800-f6bd-11ea-889b-8c15ac9a3d39.png)
This is a uncaught exception, if you turn off the "Uncaught Exceptions" breakpoints in VSCODE, the debugger won't throw an exception.

[2020-09-15 08:42] januwA opened #42 "How to get the file address of mp3"
Use `getSongs` to get all the songs:
[code]

And printed out the following data:
[code]

The data of `_data` is what I want, but it is private data. Which api should I use to get it?

[2020-09-16 17:40] sc4v3ng3r commented on #42
@januwA [this](https://pub.dev/documentation/flutter_audio_query/latest/flutter_audio_query/SongInfo/filePath.html) is what you're looking for.

[2020-09-16 17:40] #42 closed, assigned to nobody

[2020-09-22 15:35] lukhof opened #43 "Basic implementation for iOS >= 9.3"
Hi,
first thank you for this package!
I needed iOS support, so I [forked](https://github.com/lukhof/flutter_audio_query/tree/development) your project and did a basic implementation for iOS >= 9.3 in Swift, that I want to contribute.

What's working:
- all read-only methods for all **local** files except for artworks (I'm working on it)
- basic sorting (i still have to implement real alphabetical

[2020-09-22 23:38] sc4v3ng3r commented on #43
All right!!
Thanks @lukhof for your contribution. It will be really appreciated.
I need some motivation to keep going with this plugin and maybe your iOS contribution can be a trigger for that.

### - So about the plugin features for the first iOS implementation would be great if:

1) All read-only methods for local files with the artwork.

2) Playlists access can be just read-only. Don't care abo

[2020-09-23 00:01] #19 closed, assigned to nobody

[2020-09-23 13:09] lukhof commented on #43
I'm glad this may be a little motivation booster for you. ;)

The cloud items are not visible, Podcasts get the **is_podcast = true**, playlists where already supported in the first push.
The artwork may be a bit tricky... in iOS you get a **UIImage** object and not a URL/URI. I **need** this feature, so I will think about a workaround.

I have to do some bug fixing, but as I can see in a short te

[2020-09-24 00:34] #5 closed, assigned to nobody

[2020-09-24 11:11] sc4v3ng3r commented on #43
Check [this](https://pub.dev/documentation/flutter_audio_query/latest/flutter_audio_query/FlutterAudioQuery/getArtwork.html) approach used on Android >= Q to fetch the artworks. In these API levels isn't possible retrieve artwork URL but you can get the image raw bytes.

[2020-09-25 08:58] lukhof commented on #43
yes, this approach may work, because i can get the raw image in different formats, thank you!

[2020-09-26 21:54] dvorapa commented on #5
Closed as solved or closed as wontfix?

[2020-10-05 15:53] lukhof commented on #43
yep, this is working for me. I have to speed up the process through asynchronous tasks, but I get the artwork in my app!

[2020-10-08 18:09] lukhof commented on #43
I pushed the first version with the synchronous way to get the artworks. Tomorrow I try to change it to async.
There is still a bug, the first time you launch the example app it crashes, because I ask for permissions, but do not wait for the result :D

[2020-10-15 11:37] pspatel602 opened #44 "Is there any way we can get selected audio files. Since audioQuery.getSongs(); gives all audio files from the device.?"
List<SongInfo> songs = await audioQuery.getSongs();  gives all the songs containing in the device. But what if when we want only selected songs from the device not all.
For example Audiobook Player app in which when user select perticular song from the device only that songs should be loaded on the screen. So my question is that  there is any way that we can fetch only selected songs from the devi

[2020-10-15 11:45] pspatel602 opened #45 "Discord support for community."
It is difficult to ask question in GitHub. So if there is discord community for so we can help each other and learn and grow from it. Many other package authors such as audioplayers and flame etc open discord community. This step is really helpful for all type of developers from beginners to advanced level.   And Thanks for making such an awesome package.

[2020-10-15 20:32] sc4v3ng3r commented on #44
@pspatel602 If you want to pick specific songs the api provides ```getSongsById``` method.
You can check it right [here](https://pub.dev/documentation/flutter_audio_query/latest/flutter_audio_query/FlutterAudioQuery/getSongsById.html). I hope it helps.

[2020-10-15 20:53] sc4v3ng3r commented on #45
Thanks for your suggestion @pspatel602. It's something important and I'll take your advise.
Of course there is the tag ```flutter-audio-query``` in StackOverflow and you can use it in your questions about this package. For sure me or other developers would be able to make the things clear for you and the others.

[2020-10-19 23:54] #44 closed, assigned to nobody

[2020-10-19 23:55] #45 closed, assigned to nobody

[2020-10-21 05:12] pspatel602 commented on #44
What type of List<String> passed in  getSongsById() methods parameter . I mean we need to pass List of audio file paths or something else?
I am using file_picker to select audio files and store selected audio files path in a list.
Could you give an example how we can use getSongsById() method please?

[2020-10-24 10:46] sc4v3ng3r commented on #44
@pspatel602 as the method name says getSongsBy**Id** you must pass a list with ids of the songs you want to fetch more details. The flutter_audio_query plugin doesn't provide a way to read song details from file paths yet but it could be something to be added.

[2020-11-12 14:01] lukhof commented on #43
Hey,
I'm still working on some implementations. I did a mistake: you actually CAN modify a playlist, but you MUST know the UUID from the playlist. The UUID is only known at the creation of the playlist. My solution:
If you create a playlist the UUID, playlist name and persistentID (something else than UUID) is written to the UserDefaults.
 I still need some time, but I'm working on it....

[2020-11-24 00:53] AgentDavid opened #46 "Android 10 and Android 11 <unworking>"
[code]

error in the .getSongs () method to find all songs in the device on android 10 and later, probably due to depreciated API in Android API 29 and later
![Annotation 2020-11-23 205222](https://user-images.githubusercontent.com/65299319/100032235-ea74c980-2dcd-11eb-9aa9-06de3feded2e.jpg)

[2020-11-24 20:38] BlenDaniel opened #47 "No implementation found for method getArtwork on channel boaventura.com.devel.br.flutteraudioquery"
Hi,

Can you fix the unhandled exception?
The app can not be tested, basically. It freezes everything. It keeps crashing, no matter how many breakpoints I remove from vscode. Can you handle that exception, please?

My code is this:

Future<Uint8List> getArtWork({SongInfo song}) async {
    try {
      return audioQuery.getArtwork(
          type: ResourceType.SONG, id: song.id, size: Size(100, 100

[2020-11-25 12:10] #47 closed, assigned to nobody

[2020-11-25 12:11] BlenDaniel commented on #47
I just used this instead:

import "dart.io" as IO;

CircleAvatar(
                                  backgroundImage:
                                      FileImage(IO.File(song?.albumArtwork)),
                                )

[2020-11-29 07:21] kamleshwebtech opened #48 "The getter 'bloc' was called on null"
Getting error at the time of compilation:

════════ Exception caught by widgets library ═══════════════════════════════════
The following NoSuchMethodError was thrown building MainScreen(dirty, state: _MainScreenState#4057c):
The getter 'bloc' was called on null.
Receiver: null
Tried calling: bloc

The relevant error-causing widget was
MainScreen
lib\main.dart:18
When the exception was thrown, thi

[2020-11-29 07:23] kamleshwebtech opened #49 "'ancestorWidgetOfExactType' is deprecated and shouldn't be used."
I am getting below error at the time of compilation:

'ancestorWidgetOfExactType' is deprecated and shouldn't be used. Use findAncestorWidgetOfExactType instead. This feature was deprecated after v1.12.1..
Try replacing the use of the deprecated member with the replacement.

this is the function which has error:

static T of<T extends BlocBase>(final BuildContext context) {
    final type = _typeO

[2020-12-15 16:59] JulyWitch opened #50 "It doesn't fetch songs in directories"
I don't know why but it does'nt fetch songs in directories on my API28 emulator
its ok on my phone.

[2020-12-23 04:05] JulyWitch commented on #50
i don;t know why but now it's working

[2020-12-23 04:05] #50 closed, assigned to nobody

[2020-12-31 18:46] EshanNimesha01 opened #51 "_audioQuery.getAlbumsFromArtist return an error on android 10"
error -
Caused by: android.database.sqlite.SQLiteException: near "GROUP": syntax error (code 1 SQLITE_ERROR): , while compiling: SELECT album_id, album, is_music FROM audio WHERE ((is_pending=0) AND (is_trashed=0) AND (volume_name IN ( 'external_primary' , '0f0c-181c' ))) AND ((artist=? and is_music=?) GROUP BY (album)) ORDER BY title_key

[2021-01-05 08:14] EshanNimesha01 opened #52 "_audioQuery.getSongsFromGenre() not working."
E/AndroidRuntime(13095): java.lang.RuntimeException: An error occurred while executing doInBackground()
E/AndroidRuntime(13095):        at android.os.AsyncTask$3.done(AsyncTask.java:309)
E/AndroidRuntime(13095):        at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:354)
E/AndroidRuntime(13095):        at java.util.concurrent.FutureTask.setException(FutureTask.java:223)
E/Andro

[2021-01-16 10:17] neetu2004 commented on #48
Extend MaterialApp widget with Provider.
example:
Widget build(BuildContext context) {
    return Provider(
      child: MaterialApp(
       home: MyApp(),
      ),
    );
  }

[2021-01-18 06:13] EshanNimesha01 opened #53 "_audioQuery.getAlbumsById(ids: [id]); not working"
error -
`E/AndroidRuntime(28187): Process: com.example.music_player, PID: 28187
E/AndroidRuntime(28187): java.lang.RuntimeException: An error occurred while executing doInBackground()
E/AndroidRuntime(28187):        at android.os.AsyncTask$3.done(AsyncTask.java:309)
E/AndroidRuntime(28187):        at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:354)
E/AndroidRuntime(28187):

[2021-01-23 22:27] ariancamejo opened #54 "await playlist[0].addSong(song: songs[2] ) ERROR on Android 10"
I/flutter (18755): adding song 331 to playlist 1728
E/MethodChannel#boaventura.com.devel.br.flutteraudioquery(18755): Failed to handle method call
E/MethodChannel#boaventura.com.devel.br.flutteraudioquery(18755): java.lang.IllegalArgumentException: Invalid column count(*)
E/MethodChannel#boaventura.com.devel.br.flutteraudioquery(18755): 	at android.database.DatabaseUtils.readExceptionFromParcel(Da

[2021-01-27 05:32] EshanNimesha01 commented on #54
yes, same here
await playlistInfo.addSong(song: songInfo);

`java.lang.IllegalArgumentException: Invalid column count(*)`

[2021-01-28 09:39] JulyWitch commented on #46
same problem here

[2021-01-29 16:25] ayob2k commented on #54
i have same issue

[2021-01-31 16:00] priyanthini opened #55 "How to receive an audio file from an API and play it in flutter app?"
Hi,
I'm trying to send an image to my python API from flutter app and then receive back an audio file as a response from flutter app. Then the app should be able to play it. Sending image to the API is fine. I checked API with postman also, it is sending mp3 file as output. But I don't know how to receive that mp3 file as a response in flutter app?
Can somebody help me with this please?

Thanks in

[2021-02-01 14:17] MohamedSaad8 commented on #54
i have the same issue . is there one solve it here ?

[2021-02-01 14:20] MohamedSaad8 opened #56 "await playlist[0].addSong(song: songs[2] ) ERROR on Android 10"
when i try to add song in playlist not done and show this error
**Invalid column count(*)**

any one can help me please  ?

[2021-02-03 17:42] JulyWitch commented on #46
@AgentDavid  did you found any solution?

[2021-02-03 19:27] AgentDavid commented on #46
create my own search engine for songs hehehehe, I think next week I'll be uploading the full music app to my Github profile. To make the app public

[2021-02-03 22:57] ayob2k commented on #54
@MohamedSaad8 just store them manually using SharedPreference thats what i did

[2021-02-18 23:40] talamaska opened #57 "moveSong should return Future<void>"
Since it is async and the add and remove are also Future<void> and if it's not we can't await for it

[2021-02-20 08:01] bimemto commented on #56
Change the getBase function in PlaylistLoader.java into this:

`
private int getBase(final Uri playlistUri) {
        int base = -1;
        Cursor cursor = getContentResolver().query(playlistUri, null, null, null, null);
        if (cursor != null) {
            cursor.moveToNext();
            base = cursor.getCount();
            base += 1;
            cursor.close();
        }
        return b

[2021-02-22 04:17] bimemto commented on #54
Change the getBase function in PlaylistLoader.java into this:

`
private int getBase(final Uri playlistUri) { int base = -1; Cursor cursor = getContentResolver().query(playlistUri, null, null, null, null); if (cursor != null) { cursor.moveToNext(); base = cursor.getCount(); base += 1; cursor.close(); } return base; }
`

[2021-02-22 17:48] talamaska opened #59 "Having an exception when trying to add Song to a playlist"
I have looked at the other issues I made that change in PlaylistLoader getBase function
previously was failing with unrecognized column count(*)

Also noticed other weird bugs, like the activity can request permissions only once per session.

launching lib\main.dart on Android SDK built for x86 64 in debug mode...
 lib\main.dart
√ Built build\app\outputs\flutter-apk\app-debug.apk.
Connecting to VM

[2021-02-23 09:15] furatamasensei opened #60 "App crashes when calling getAlbumsFromArtist method"
As written on the title, the app crashes when the method get called. I'm using GetX state management and calling this method every time the `activeArtIdx` has changed.

`playlist_controller.dart`
[code]

`Stacktrace`
[code]

`Health check`
[code]

[2021-03-01 19:18] #59 closed, assigned to nobody

[2021-03-01 19:20] talamaska commented on #54
@bimemto Even with that change Android is failing. Seems like Android 10 bug, seen some reports in Stackoverflow and on the official android issues.

[2021-03-11 09:49] xxjonesriderxx commented on #43
@lukhof I'm using your Version of this library and getting following Error:

[2021-03-12 08:00] lukhof commented on #43
Hey,
thank you for your feedback. I'm aware of this error and will push an updated in the next few days! Before then you may ignore this error!

[2021-03-14 23:57] lianulloa opened #62 "Getting null in albumArtwork for all songs"
Hi! I am using this plugin to get all the music in my device, which is running Android 11, and I can't get the albumArtWork related to each song.

I'm getting songs using this `FlutterAudioQuery().getSongs()` but every song has null in this field

I guess, from this issue https://github.com/florent37/Flutter-AssetsAudioPlayer/issues/283, that this is not happening for earlier versions of Android.

[2021-03-14 23:57] lianulloa commented on #62
I know songs got albumArt because I can see them with Phonograph

[2021-03-15 00:05] lianulloa commented on #62
I have no idea of native code but maybe this can help to fix the bug in the plugin https://developer.android.com/reference/android/provider/MediaStore.Audio.AlbumColumns#ALBUM_ART
Here it says how this should be gotten

[2021-03-15 01:20] sc4v3ng3r commented on #62
There is a different approach to handle android API 29+.

You can use [this](https://pub.dev/documentation/flutter_audio_query/latest/flutter_audio_query/FlutterAudioQuery/getArtwork.html) method to get the a raw image based on artist, album or song.

You can see the usage in [this section](https://github.com/sc4v3ng3r/flutter_audio_query/blob/master/README.md#getting-artwork-on-android--q) from t

[2021-03-15 01:59] lianulloa commented on #62
So true @sc4v3ng3r , thank you very much and sorry for no reading enough of the Readme file and searching to much in google 😅

[2021-03-15 02:11] #62 closed, assigned to nobody

[2021-03-16 17:23] ghost opened #63 "not showing get permission in release mode android 10 help ?"

[2021-03-16 19:00] #63 closed, assigned to nobody

[2021-03-16 19:00] ghost commented on #63
olv

[2021-03-17 14:17] xxjonesriderxx opened #64 "cannot get genres"
`//Returns the genre name which this song belongs.`
  `String get genre => _data['genre_name'];`

using this to get the genre of an Song returns always null

[2021-03-19 11:22] pparh602 opened #65 "Support for only fetching selected folder audio files instead of getting all audio files from device and Team Discussion feature for Repository"
By using this plugin we can get all the audio files from the device which includes call recording files and other unnecessary audio files in the application. Suppose we make an AudioBook Player app. So in that we only need specific folder audio files not from all over the device. And also Could you provide Team Discussion feature on this repository please?

[2021-03-19 11:29] pparh602 commented on #45
@sc4v3ng3r Thanks for making such an awesome plugin but brother Could you please provide support for discord server or Telegram group for Flutter-Audio-Query. Because on Stack overflow no one reply. Please check out following question i asked on Stack-overflow 5 months ago: [Question link](https://stackoverflow.com/questions/64426606/how-can-i-use-other-packagefetch-metadata-with-file-picker-to-sh

[2021-03-20 19:05] dvorapa opened #66 "Migrate to null-safety"
Hi! Could you consider moving this library to null-safety?

Thank you for the library

[2021-03-23 11:33] Yowims opened #67 "Get songs when song title starts with "...""
Hi,

I'm using flutter_audio_query with audioplayers, and all works good.
But in my app I have a research field used to retrieve some of my songs when the title starts with the input. I tried to use "getSongsById()", but it seems to be linked to the songs ID and not to the songs titles.

How should I do to get songs by title?

[2021-03-23 13:05] Yowims commented on #67
Okay found it, there's a method call "searchSongs()" and it does exactly what I wanna do.

Thanks! ^^

[2021-03-23 13:05] #67 closed, assigned to nobody

[2021-03-25 23:01] talamaska commented on #56
It is not working like that. There is some permission issue.
The issue is reported in android bugs list.

[2021-03-30 06:24] ghost commented on #46
I use [flutter music query](https://pub.dev/packages/flutter_music_query) it works on Android 10, also make sure you added `android:requestLegacyExternalStorage="true"` in your android manifest.xml

[code]

[2021-04-05 02:19] mahadydev commented on #66
yes , dev should consider this

[2021-04-05 04:48] Recker4244 opened #68 "Implementation of this plugin with just_audio and audio_service"
Is there any way to play songs even when the app is closed using the plugin audio_service?

[2021-04-21 13:39] xxjonesriderxx opened #69 "m4a support"
It would be nice if you could implement a searchengine for m4a files.

[2021-05-07 15:28] PriyankManiya opened #70 "Unhandled Exception: MissingPluginException(No implementation found for method getSongs on channel boaventura.com.devel.br.flutteraudioquery"
I'm getting this issue only in release Apk mode , it is working fine in debug mode

    songs = await audioQuery.getSongs();

Getting error during get getSongs , Any idea what can be the reason ?

My Device version is ANDROID 10

[2021-06-07 22:22] dmoreland117 opened #71 "doesnt work in release mode"
i might have messed up something but it works fine in debug bot not release

[2021-07-12 05:29] Gursewak-Uppal commented on #49
Use it like this

[code]

[2021-08-03 22:43] Abdallah504 opened #72 "Cannot run with sound null safety"
Error: Cannot run with sound null safety, because the following dependencies
don't support null safety:

package:flutter_audio_query

[2021-09-13 19:13] arbaazaj commented on #72
If you still wish to run the app without sound null safety you can add this line to your project's lib/main.dart file where your main() function exist, once the package is upgraded to null safety you can remove this line.

**// @dart=2.9**

**Here's an example;**

// @dart=2.9
import 'src/my_app.dart';

main() {
  //...
}

[2021-11-17 09:12] JoshuaObateru opened #73 "Migration to null safety"
Hey, your package is great
please migrate to null safety to make it compatible with other packages

[2022-02-07 10:28] meena002-png opened #75 "AlbumArtWork returning null in android 11"
I am running this on android 11 device it returning albumArtWork null but it work fine in android 8.
I also try getArtWork() method it also returning null.

[2022-04-03 01:50] Kuraj11101 opened #76 "NULL SAFE VERSION NOT AVAILABLE"

[2022-04-03 01:51] Kuraj11101 commented on #76
Having issue migrating to a nullsafe version. Can you make this package null safe..

[2022-11-04 07:44] bigjjjim commented on #49
Had to add a "!" at the end for non null safety!